@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/*
    --Purple100: #dacffc;
    --Purple500: #7650dc;
    --Yellow100: #f9eee1;
    --Yellow500: #ffcb6b;

    -- font-family: 'DM Sans', sans-serif;
*/