@import "tailwindcss";

@font-face {
    font-family: 'fonte';
    src: url('DMSans-VariableFont_opsz,wght.ttf') format('truetype'), url('DMSans-VariableFont_opsz,wght.ttf') format('opentype');
}

/*
    --Purple100: #dacffc;
    --Purple500: #7650dc;
    --Yellow100: #f9eee1;
    --Yellow500: #ffcb6b;
*/